<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      <form action="/users/register" method="POST">
        <div class="row mb-3">
          <label for="Name" class="col-form-label">Name</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="Name" name="name" placeholder="Enter Name..." value="{{name}}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputEmail3" class="col-form-label">Email</label>
          <div class="col-sm-12">
            <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Enter Email..."
              value="{{email}}">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword" class="col-form-label">Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="inputPassword" name="password"
              placeholder="Enter Password..." value="{{password}}">
          </div>
        </div>

        <div class="row mb-3">
          <label for="confirmPassword" class="col-form-label">Confirm Password</label>
          <div class="col-sm-12">
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
              placeholder="Confirm Password..." value="{{confirmPassword}}">
          </div>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="d-grid gap-2 mt-3">
          <a href="/auth/facebook" class="btn btn-info btn-block">Facebook</a>
        </div>
      </form>
      <p class="lead mt-4">
        Have An Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
  </div>